<form [formGroup]="empService.form" class="myForm">
    <mat-grid-list cols="2" rowHeight="400px">
     <mat-grid-tile>
        <div class="empControls">
            <input type="hidden" formControlName="$key">
            <mat-form-field appearance="outline" color="warn">
                <mat-label>Full Name:</mat-label>
                <input matInput formControlName="fullName" required>
                <mat-error>This field Is Required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" color="warn">
                <mat-label>Email:</mat-label>
                <input matInput formControlName="email">
                <mat-error>Invali Email adress</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" color="warn">
                <mat-label>Mobile:</mat-label>
                <input matInput formControlName="mobile" required>
                <mat-error *ngIf="empService.form.controls['mobile'].errors?.['required']">This field Is Required</mat-error>
                <mat-error *ngIf="empService.form.controls['mobile'].errors?.['minLength']">Min .10 characters Required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" color="warn">
                <mat-label>City Name:</mat-label>
                <input matInput formControlName="city">
            </mat-form-field>
        </div>
     </mat-grid-tile>
     <mat-grid-tile>
        <div class="empControls">
            <div class="myPadding">
                <mat-radio-group formControlName="gender" color="primary">
                    <mat-radio-button value ="1">Male</mat-radio-button>
                    <mat-radio-button value ="2">Female</mat-radio-button>
                    <mat-radio-button value ="3">Other</mat-radio-button>
                </mat-radio-group>
            </div>

            <mat-form-field appearance="outline" color="primary">
                <mat-label>Department</mat-label>
                <mat-select formControlName="department">
                <mat-option>None</mat-option>
                <ng-container *ngFor="let dept of departments">
                    <mat-option value="{{dept.id}}">{{dept.name}}
                    </mat-option>
                </ng-container>
            </mat-select>
            </mat-form-field>

             <mat-form-field appearance="outline">
                <mat-label>Hire Date</mat-label>
                <input matInput formControlName="hireDate"
                [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker">
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
             </mat-form-field>


           <div class="myPadding">
            <mat-checkbox formControlName="isPermanent">
                Permenent Employee
            </mat-checkbox>
           </div>
             

           <div class="buttonRow">
            <button mat-raised-button [disabled]="empService.form.invalid" color="primary" type="submit">Submit
            </button>
            <button mat-raised-button color="warn" type="submit">Clear
            </button>
           </div>

        </div>
     </mat-grid-tile>
    </mat-grid-list>
</form>
